#eventHub {
    display: flex;
    border: 1px solid black;
    justify-content: space-evenly;
}
#staticComponentContainer {
    border: 1px dotted green;
    margin: 10px;
    padding: 10px;
}
#dynamicComponentContainer{
    display: flex;
    align-items: center;
    border: 1px solid purple;
    margin: 10px;
    padding: 10px;
}
.addTeamComponent {
    border: 1px solid red;
    margin: 10px;
    padding: 10px;

}

.addPlayerComponent{
    border: 1px solid red;
    margin: 10px;
    padding: 10px;
}
#gamePlayContainer{
    border: 1px solid purple;
    display: flex;
    flex-direction: row;
}
#stats{
    border: 1px solid purple;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#app{
    display: flex;
    flex-direction: column;
    border: 1px dotted blueviolet;
}

#scoreKeeper{
    display: flex;
    flex-direction: row;
    border: 1px solid green;
}
#leaderBoard{
    display: flex;
    flex-direction: row;
    border: 1px solid yellowgreen;
}